
.about{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 4%;
    align-items: center;
    border-bottom: 1px  solid #4c4c4c ;
    padding-bottom: 8%;
}


.me{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.about img{
    width: 300px;
    border-radius: 20%;
}

.about p{
    color: rgb(194, 184, 184);
    font-size: 1.12rem;
    text-align: center;
}